# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/simple_chat/report/dist/
/simple_chat/report/build/
/simple_chat/chat/dist/
/simple_chat/chat/build/
/stm32_task/Debug
/stm32_task/Release
/stm32_task/Inc/Backup
/stm32_task/Src/Backup
/stm32_task/Application/Backup
